:root {
  --background-color: #f0f2f5;
  --warning-color: #d5352c;
  --accent-color-blue: #00a4a9;
  --accent-color-yellow: #c8a700;
  --text-color: #23242f;
  --board-border: #333;
  --cell-size: min(40px, 8vh);
}

.dark-mode {
  --background-color: #23242f;
  --text-color: #f0f2f5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

.settings-bar {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 24px;
  background-color: var(--text-color);

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: oklch(from var(--background-color) 85% c h);
    padding: 0;
    display: grid;
    place-items: center;

    svg {
      fill: var(--background-color);
    }

  }
  #theme-toggle svg:first-child {
  display: block;
  }
  #theme-toggle svg:last-child {
    display: none;
  }
  #sound-toggle svg:first-child {
  display: block;
  }
  #sound-toggle svg:last-child {
    display: none;
  }
}

.dark-mode #theme-toggle svg {
  &:first-child {
    display: none;
  }
  &:last-child {
    display: block;
  }
}

.unmuted #sound-toggle svg {
  &:first-child {
    display: none;
  }
  &:last-child {
    display: block;
  }
}

.logo {
  position: fixed;
  left: 1rem;
  top: 1rem;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  h1 {
    margin: 0;
    padding: 0;
  }
}

.boards-area {
  flex: 0 0 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.info-area {
  flex: 0 0 10%;
  background-color: var(--background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.board-container {
  background: hsl(from var(--text-color) h s 40%);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

  &:has(table.inactive) {
    pointer-events: none;
    position: relative;
  }
  &:has(table.inactive)::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(134, 134, 134, 0.5);
    border-radius: inherit;
  }
}

table {
  border-collapse: collapse;
  border: 3px solid var(--board-border);
  table-layout: fixed;

  &#table-1 {
    td div.ship {
      background-color: var(--accent-color-blue);
    }
  }

  &#table-1 td div,
  &#table-2 td div {
    position: relative;
    
    &.ship.hit {
      background-color: var(--warning-color);
    }

    &.ship.hit::after {
      content: '';
    }
  
    &.hit::after {
      content: '\22C5';
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
}


.board-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.board-cell {
  background-color: #e9ecef;
}
